<section class="admin-panel">
  <div class="container">
    <div class="admin-main">

      <div class="admin-form-area">
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">

          <div class="form-info">
            <div class="field-title">
              <h3>Domain Information:</h3>
            </div>
            <div class="name">
              <mat-form-field appearance="outline">
                <mat-label>Website Name</mat-label>
                <input matInput type="text" placeholder="Enter Website Name" formControlName="websiteName">
                <mat-error>Enter Website Name</mat-error>
              </mat-form-field>
            </div>

            <div class="user-name">
              <mat-form-field appearance="outline">
                <mat-label>Domain</mat-label>
                <input matInput type="text" placeholder="Enter Domain" formControlName="domain">
                <mat-error></mat-error>
              </mat-form-field>
            </div>

          </div>


          <div class="change-btn">
            <button type="submit">Update Domain Info</button>
          </div>
        </form>
      </div>


    </div>
  </div>
</section>
