@import "variables";

header {
  width: 100%;
  box-sizing: border-box;
  background-color: $color-white;
  border-bottom: 1px solid darken($color-white, 20%);

  .header-top-area {
    background-color: $color-black;
    border-bottom: 1px solid darken($color-white, 20%);
    height: 31px;
    overflow: hidden;
    transition: height .25s linear, zIndex 0s linear .25s;
    opacity: 1;

    .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 0;

      .info {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
          font-size: $font-readable;
          color: hsla(0, 0%, 100%, .8);
          text-decoration: none;
          font-weight: 400;
          display: flex;
          align-items: center;
          border-right: 1px solid hsla(0, 0%, 100%, .2);
          padding-right: 10px;
          transition: color 0.3s ease;

          &:hover {
            color: $color-white;
          }

          &:last-child {
            border-right: none;
            padding-right: 0;
          }

          svg {
            margin-right: 5px;
            width: calc($font-readable + 6px);
            fill: hsla(0, 0%, 100%, .8);
          }
        }
      }

      .link-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        a {
          font-family: $font-en-primary;
          font-size: calc($font-title-desc - 2px);
          color: $color-white;
          text-decoration: none;
          cursor: pointer;
          font-weight: 500;
          position: relative;

          svg {
            height: 13px;
            width: 13px;
            fill: $color-white;

            path {
              fill: $color-white;
            }

            transition: all 0.3s ease-in-out;

            &:hover {
              fill: lighten($color-black, 80%);

              path {
                fill: lighten($color-black, 80%);
              }
            }
          }
        }
      }
    }
  }

  .header-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 90px;

    a {
      text-decoration: none;
    }

    p {
      font-size: 18px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      color: $color-primary;
    }

    .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      //max-width: 90px;
      max-width: 180px;
      width: 100%;
      cursor: pointer;
      text-decoration: none;

      p {
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        color: $color-primary;
        font-family: "Molle", cursive;
      }

      img {
        //max-width: 90px;
        max-width: 180px;
        width: 100%;
        //object-fit: cover;
        object-fit: contain;
        //max-height: 90px;
        max-height: 50px;
        height: 100%;
        //min-height: 40px;
        min-height: 33px;
      }
    }

    .search-area {
      max-width: 650px;
      width: 100%;
    }

    .action {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      min-width: 500px;

      .user-auth {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: $color-white;
        cursor: pointer;
        color: lighten($color-black, 10%);

        svg {
          fill: lighten($color-black, 10%);
          width: 22px;
        }

        h3 {
          display: block;
          font-size: calc($font-title-desc - 4px);
          text-wrap: nowrap;
        }

        .user {
          display: block;

          b {
            font-size: calc($font-title-desc - 4px);
          }

          p {
            font-size: calc($font-title-desc - 6px);
          }
        }
      }
    }

    .service-section {
      display: flex;
      align-items: center;
      gap: 20px;

      a,
      p {
        font-size: 0.9em;
        text-decoration: none;
        font-weight: 700;
        font-family: $font-en-primary;
        color: $color-black;
        text-transform: uppercase;
        transition: color 0.3s ease;

        &:hover,
        &.active {
          color: $color-primary;
        }
      }

      .all-categories {
        display: flex;
        align-items: center;
        gap: 2px;

        svg {
          width: 20px;
          height: 20px;
          fill: $color-gray;
        }

        &:hover {
          svg {
            fill: $color-primary;
          }
        }
      }

    }
  }
}

.homepage-only-height {
  display: inline-block;
  height: 117px;
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  background: $color-white;
}

.header-top-area.hidden {
  height: 0 !important;
  overflow: hidden !important;
}

.homepage-only {
  display: none !important;
}

@media (max-width: 650px) {
  header {
    .header-top-area {
      display: none !important;
    }
  }

}

@media (max-width: 800px) {
  .header-top {
    h4 {
      display: none;
    }
  }
}
