<div class="container">
  <div class="confirmation-container">
    <div class="checkmark-container">
      <div class="circle"></div>
      <div class="check"></div>
    </div>
    <div class="particles">
      <div class="particle ball"></div>
      <div class="particle bubble"></div>
      <div class="particle star1"></div>
      <div class="particle fireworks1"></div>
      <div class="particle star1 small"></div>
      <div class="particle bubble large"></div>
      <div class="particle ball small"></div>
      <div class="particle fireworks1 large"></div>
      <div class="particle fireworks2 large"></div>
      <div class="squire1"></div>
      <div class="squire2"></div>
      <div class="squire3"></div>
      <div class="squire4"></div>
      <div class="squire5"></div>
      <div class="star2"></div>
      <div class="star3"></div>
      <div class="ring"></div>
    </div>
    <div class="content">
      <h2>THANK YOU</h2>
      <h3>YOUR PAYMENT IS DONE</h3>
      <p>
        We will be sending you an email confirmation to
        <a href="mailto:example@contrado.com">examplecontrado&#64;gmail.com</a>
        shortly
      </p>
    </div>
    <div class="button-box">
      <div class="button">VIEW ORDER</div>
    </div>
  </div>
</div>
