@import "common/setting-page";


.option-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-bottom: 20px;

  .checkbox-item {
    display: flex;
    align-items: center;
  }

}



